


<a href="/">Back to the start</a>
{{>table_top}}
  {{>form0}}
    </th>
      <th class="form_table_head"></th>
      </tr>
      <tr class="form_table_row">
    <th class="form_table_head">
  {{>form1}}

    </th>
    <th class="form_table_head">
      <p class="centerStory storyLink">{{currentNode.storyLine}}</p>
    </th>
    <th class="form_table_head">

  {{>form2}}

    </th>
      </tr>
      <tr class="form_table_row">
    <th class="form_table_head"></th>
    <th class="form_table_head">
  {{>form3}}
{{>table_bottom}}




