<form id = "dynamicForm" action="{{endpoint}}" method="post">
  <fieldset>
  {{#if currentNode.nodes.[1] }}
    <a class="storyLink" href="{{endpoint}}/1">{{currentNode.nodes.[1].storyLine}}</a>
  {{else}}
    <textarea class = "textarea" name= "1"></textarea>
    <input type="submit" value="Submit" id = "submit">
  {{/if}}
  </fieldset>
</form>