 <form id = "dynamicForm" action="{{endpoint}}" method="post">
    <fieldset>
    {{#if currentNode.nodes.[2] }}
      <a class="storyLink" href="{{endpoint}}/2">{{currentNode.nodes.[2].storyLine}}</a>
    {{else}}
      <textarea class = "textarea" name= "2"></textarea>
      <input type="submit" value="Submit" id = "submit">
    {{/if}}
    </fieldset>
</form>