<form id = "dynamicForm" action="{{endpoint}}" method="post">
  <fieldset>
  {{#if currentNode.nodes.[3] }}
    <a class="storyLink" href="{{endpoint}}/3">{{currentNode.nodes.[3].storyLine}}</a>
  {{else}}
    <textarea class = "textarea" name= "3"></textarea>
    <input type="submit" value="Submit" id = "submit">
  {{/if}}
  </fieldset>
</form>